<phpunit colors="true" stopOnError="true" stopOnFailure="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="php-integrator">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">src</directory>
          <exclude>
              <file>src/Main.php</file>
          </exclude>
      </whitelist>
  </filter>
</phpunit>
